version: "3.7"
services: 
    php-test:
        container_name: php-test-instance
        environment:
            - CODE_SNIFFER=${CODE_SNIFFER-true}
        build: 
            context: ./container
            dockerfile: Containerfile
        volumes:
           - ./pirogue:/project/pirogue:rw
           - ./test:/project/testing:rw
           - ./config:/project/config:rw
           - ./view:/project/viewrw
        depends_on:
            - database
        links:
            - database

    database:
        container_name: "php-test-db-instance"
        image: mariadb:latest
        environment:
            - MYSQL_ROOT_PASSWORD=root-password
            - MYSQL_USER=website-user
            - MYSQL_PASSWORD=website-password
            - MYSQL_DATABASE=website    
        volumes:
            - ./container/database-create.sql:/docker-entrypoint-initdb.d/00-database-create.sql:ro
        ports:
            - 3306:3306
        restart: always        
