USE [example-site]
GO
/****** Object:  Table [org].[employee_phone_numbers]    Script Date: 2019-03-19 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[employee_phone_numbers](
	[employee_id] [int] NOT NULL,
	[type_id] [tinyint] NOT NULL,
	[phone_number] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
