USE [example-site]
GO
/****** Object:  Table [org].[employee_accounts]    Script Date: 2019-03-19 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[employee_accounts](
	[employee_id] [int] NOT NULL,
	[email_address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_employee_accounts] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
