USE [example-site]
GO
/****** Object:  Table [org].[position_assignments]    Script Date: 2019-03-19 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[position_assignments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[position_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[pay_rate_id] [int] NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NULL,
 CONSTRAINT [PK_position_assignments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [org].[position_assignments]  WITH CHECK ADD  CONSTRAINT [FK_position_assignments_departments] FOREIGN KEY([department_id])
REFERENCES [org].[departments] ([id])
GO
ALTER TABLE [org].[position_assignments] CHECK CONSTRAINT [FK_position_assignments_departments]
GO
ALTER TABLE [org].[position_assignments]  WITH CHECK ADD  CONSTRAINT [FK_position_assignments_employees] FOREIGN KEY([employee_id])
REFERENCES [org].[employees] ([id])
GO
ALTER TABLE [org].[position_assignments] CHECK CONSTRAINT [FK_position_assignments_employees]
GO
ALTER TABLE [org].[position_assignments]  WITH CHECK ADD  CONSTRAINT [FK_position_assignments_locations] FOREIGN KEY([location_id])
REFERENCES [org].[locations] ([id])
GO
ALTER TABLE [org].[position_assignments] CHECK CONSTRAINT [FK_position_assignments_locations]
GO
ALTER TABLE [org].[position_assignments]  WITH CHECK ADD  CONSTRAINT [FK_position_assignments_positions] FOREIGN KEY([position_id])
REFERENCES [org].[positions] ([id])
GO
ALTER TABLE [org].[position_assignments] CHECK CONSTRAINT [FK_position_assignments_positions]
GO
