USE [example-site]
GO
/****** Object:  Table [org].[employees]    Script Date: 2019-03-19 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_number] [int] NOT NULL,
	[name_given] [nvarchar](50) NOT NULL,
	[name_surname] [nvarchar](50) NOT NULL,
	[name_middle] [nvarchar](50) NULL,
	[name_generation_qualifier] [nvarchar](10) NULL,
	[name_title] [nvarchar](10) NULL,
	[date_of_birth] [date] NOT NULL,
	[gender] [char](1) NOT NULL,
	[ssn] [char](11) NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
