USE [example-site]
GO
/****** Object:  Table [org].[employment_history_records]    Script Date: 2019-03-19 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[employment_history_records](
	[employee_id] [int] NOT NULL,
	[status] [tinyint] NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NULL
) ON [PRIMARY]
GO
