USE [example-site]
GO
/****** Object:  Table [site].[user_application_assignments]    Script Date: 2019-03-19 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [site].[user_application_assignments](
	[role_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
 CONSTRAINT [PK_user_application_assignments] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [site].[user_application_assignments]  WITH CHECK ADD  CONSTRAINT [FK_user_application_assignments_roles] FOREIGN KEY([role_id])
REFERENCES [site].[roles] ([id])
GO
ALTER TABLE [site].[user_application_assignments] CHECK CONSTRAINT [FK_user_application_assignments_roles]
GO
ALTER TABLE [site].[user_application_assignments]  WITH CHECK ADD  CONSTRAINT [FK_user_application_assignments_users] FOREIGN KEY([user_id])
REFERENCES [site].[users] ([id])
GO
ALTER TABLE [site].[user_application_assignments] CHECK CONSTRAINT [FK_user_application_assignments_users]
GO
