<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/*" />
            </rewriteMaps>
            <rules>
                <rule name="assets" stopProcessing="true">
                    <match url="^assets" />
                    <action type="None" />
                </rule> 
                <rule name="Route to html auth dispatcher without path" stopProcessing="true">
                    <match url="^auth(.html|/)?$" />
                    <action type="Rewrite" url="_html-auth.php?__execution_path=index" appendQueryString="true" />
                </rule>           
                <rule name="Route to html auth dispatcher with path" stopProcessing="true">
                    <match url="^auth/(.*)(.html|/)?$" />
                    <action type="Rewrite" url="_html-auth.php?__execution_path={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Route to the csv dispatcher." stopProcessing="true">
                    <match url="^(.+)\.csv$" />
                    <action type="Rewrite" url="_csv.php?__execution_path={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Route to the json dispatcher." stopProcessing="true">
                    <match url="^(.+)\.json$" />
                    <action type="Rewrite" url="_json.php?__execution_path={R:1}" appendQueryString="true" />
                </rule>         
                <rule name="Route to html disaptcher with php or html extensions." stopProcessing="true">
                    <match url="^(.+)(\.html|\.php)?$" />
                    <action type="Rewrite" url="_html.php?__execution_path={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Route all else to default dispatcher." stopProcessing="true">
                    <action type="Rewrite" url="_html.php?__execution_path=index" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
