<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/*" />
            </rewriteMaps>
            <rules>
                <rule name="assets" stopProcessing="true">
                    <match url="^assets" />
                    <action type="None" />
                </rule>                
                <rule name="Route to json  controller app and page - json" stopProcessing="true">
                    <match url="^(.+)\.json$" />
                    <action type="Rewrite" url="_json.php?__execution_path={R:1}" appendQueryString="true" />
                </rule>            
                <rule name="Route to html controller app and page - html" stopProcessing="true">
                    <match url="^(.+)\.html$" />
                    <action type="Rewrite" url="_html.php?__execution_path={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Route to controller" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="_html.php?a__execution_path={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
