USE [master]
GO
/****** Object:  Database [example-site]    Script Date: 2019-06-02 22:45:56 ******/
CREATE DATABASE [example-site]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'example-site', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\example-site.mdf' , SIZE = 28608KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'example-site_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\example-site_log.ldf' , SIZE = 47616KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [example-site].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [example-site]
GO
/****** Object:  Schema [org]    Script Date: 2019-06-02 22:45:56 ******/
CREATE SCHEMA [org]
GO
/****** Object:  Schema [site]    Script Date: 2019-06-02 22:45:56 ******/
CREATE SCHEMA [site]
GO
/****** Object:  UserDefinedFunction [site].[password_encrypt]    Script Date: 2019-06-02 22:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sean Bourg
-- Create date: 2019-02-12
-- Description:	Encrypt user password.
-- =============================================
CREATE FUNCTION [site].[password_encrypt]
(
	-- Add the parameters for the function here
	@password NVARCHAR(MAX)
)
RETURNS VARBINARY(54)
AS
BEGIN

	RETURN HASHBYTES('SHA2_512', @password);
END
GO
/****** Object:  Table [org].[employees]    Script Date: 2019-06-02 22:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_number] [int] NOT NULL,
	[name_given] [nvarchar](50) NOT NULL,
	[name_surname] [nvarchar](50) NOT NULL,
	[name_middle] [nvarchar](50) NULL,
	[name_generation_qualifier] [nvarchar](10) NULL,
	[name_title] [nvarchar](10) NULL,
	[date_of_birth] [date] NOT NULL,
	[gender] [char](1) NOT NULL,
	[ssn] [char](11) NULL,
	[email_address] [nvarchar](50) NULL,
 CONSTRAINT [PK_staff] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [org].[employment_history_records]    Script Date: 2019-06-02 22:45:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[employment_history_records](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[status] [tinyint] NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NULL,
 CONSTRAINT [PK_employment_history_records] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [org].[employee_details]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [org].[employee_details]
AS
SELECT        employees.id, employees.employee_number, employees.name_given, employees.name_surname, employees.name_middle, employees.name_generation_qualifier, employees.name_title, employees.date_of_birth, 
                         employees.gender, employees.ssn, employees.email_address, employment_history_records.[status], date_start, date_end
FROM            org.employees 
LEFT JOIN
                             (SELECT        employee_id, [status], date_start, date_end
                               FROM            (SELECT        employee_id, [status], date_start, date_end, row_index = ROW_NUMBER() OVER (PARTITION BY employee_id
                                                         ORDER BY date_end, date_start DESC)
                               FROM            org.employment_history_records) AS employment_history_records
WHERE        row_index = 1) AS employment_history_records ON employees.id = employment_history_records.employee_id
GO
/****** Object:  Table [site].[users]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [site].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[status_code] [tinyint] NOT NULL,
	[password] [varbinary](64) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [site].[application_assignments]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [site].[application_assignments](
	[role_id] [int] NOT NULL,
	[position_id] [int] NULL,
	[location_id] [int] NULL,
	[department_id] [int] NULL,
	[pay_grade_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [site].[roles]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [site].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[application_id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [site].[application_assignment_exceptions]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [site].[application_assignment_exceptions](
	[role_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[has_access] [bit] NOT NULL,
 CONSTRAINT [PK_application_assignment_exceptions] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [org].[position_assignments]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[position_assignments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NOT NULL,
	[assignment_index] [tinyint] NOT NULL,
	[position_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[pay_grade_id] [int] NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NULL,
 CONSTRAINT [PK_position_assignments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [site].[user_role_assignments]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [site].[user_role_assignments]
AS
SELECT        user_roles.user_id, user_roles.role_id, COALESCE (site.application_assignment_exceptions.has_access, position_assignments.has_access, 0) AS has_access
FROM            (SELECT        site.users.id AS user_id, site.roles.id AS role_id
                          FROM            site.users CROSS JOIN
                                                    site.roles) AS user_roles LEFT OUTER JOIN
                             (SELECT        users_1.id AS user_id, site.application_assignments.role_id, 1 AS has_access
                               FROM            site.users AS users_1 LEFT OUTER JOIN
                                                         org.position_assignments AS position_assignments_1 ON users_1.employee_id = position_assignments_1.employee_id LEFT OUTER JOIN
                                                         site.application_assignments ON (site.application_assignments.position_id IS NULL OR
                                                         position_assignments_1.position_id IS NOT NULL AND position_assignments_1.position_id = site.application_assignments.position_id) AND (site.application_assignments.department_id IS NULL OR
                                                         position_assignments_1.department_id IS NOT NULL AND position_assignments_1.department_id = site.application_assignments.department_id) AND (site.application_assignments.pay_grade_id IS NULL OR
                                                         position_assignments_1.pay_grade_id IS NOT NULL AND position_assignments_1.pay_grade_id = site.application_assignments.pay_grade_id)) AS position_assignments ON 
                         user_roles.user_id = position_assignments.user_id AND user_roles.role_id = position_assignments.role_id LEFT OUTER JOIN
                         site.application_assignment_exceptions ON user_roles.user_id = site.application_assignment_exceptions.user_id AND user_roles.role_id = site.application_assignment_exceptions.role_id
GO
/****** Object:  Table [site].[applications]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [site].[applications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_applications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [site].[application_roles]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [site].[application_roles]
AS
SELECT        site.applications.id AS application_id, site.applications.name AS application_name, site.roles.id AS role_id, site.roles.name AS role_name
FROM            site.applications INNER JOIN
                         site.roles ON site.applications.id = site.roles.application_id
GO
/****** Object:  Table [org].[positions]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[positions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
	[payrate_id] [tinyint] NOT NULL,
	[division_id] [int] NOT NULL,
 CONSTRAINT [PK_positions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [org].[locations]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[locations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](100) NOT NULL,
	[address_line_1] [nvarchar](50) NULL,
	[address_line_2] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[state] [char](2) NULL,
	[zipcode] [char](5) NULL,
	[phone] [nvarchar](20) NULL,
	[type_code] [tinyint] NOT NULL,
 CONSTRAINT [PK_locations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [org].[departments]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
	[parent_id] [int] NULL,
	[phone_number] [nvarchar](20) NULL,
	[phone_extension] [nvarchar](5) NULL,
 CONSTRAINT [PK_departments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [org].[position_pay_grades]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[position_pay_grades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[position_id] [int] NOT NULL,
	[label] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_position_pay_grades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [site].[user_details]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* account info*/
CREATE VIEW [site].[user_details]
AS
SELECT        site.users.id, site.users.status_code, RTRIM(org.employees.name_surname) + ', ' + CASE WHEN name_title IS NULL THEN '' WHEN '' = rtrim(name_title) THEN '' ELSE rtrim(name_title) 
                         + ' ' END + RTRIM(org.employees.name_given) + CASE WHEN name_middle IS NULL THEN '' WHEN '' = rtrim(name_middle) THEN '' WHEN 1 = len(name_middle) THEN ' ' + rtrim(name_middle) + '.' ELSE ' ' + rtrim(name_middle)
                          END + CASE WHEN name_generation_qualifier IS NULL THEN '' WHEN '' = rtrim(name_generation_qualifier) THEN '' ELSE ', ' + rtrim(name_generation_qualifier) END AS display_name, org.employees.email_address, 
                         position_assignments.position_name, position_assignments.location_name, position_assignments.department_name
FROM            site.users INNER JOIN
                         org.employees ON org.employees.email_address IS NOT NULL AND site.users.employee_id = org.employees.id LEFT OUTER JOIN
                             (SELECT        position_assignments_1.employee_id, org.positions.label + ' ' + org.position_pay_grades.label AS position_name, org.departments.label AS department_name, org.locations.label AS location_name
                               FROM            org.position_assignments AS position_assignments_1 INNER JOIN
                                                         org.positions ON position_assignments_1.position_id = org.positions.id INNER JOIN
                                                         org.position_pay_grades ON position_assignments_1.pay_grade_id = org.position_pay_grades.id INNER JOIN
                                                         org.departments ON position_assignments_1.department_id = org.departments.id INNER JOIN
                                                         org.locations ON position_assignments_1.location_id = org.locations.id
                               WHERE        (position_assignments_1.assignment_index = 1)) AS position_assignments ON site.users.employee_id = position_assignments.employee_id
GO
/****** Object:  Table [org].[divisions]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[divisions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_divisions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [org].[employee_phone_numbers]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[employee_phone_numbers](
	[employee_id] [int] NOT NULL,
	[type_id] [tinyint] NOT NULL,
	[phone_number] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [org].[location_types]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[location_types](
	[id] [tinyint] NOT NULL,
	[label] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_location_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [org].[pay_rates]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[pay_rates](
	[id] [tinyint] NOT NULL,
	[label] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_pay_rates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [org].[phone_number_types]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [org].[phone_number_types](
	[id] [tinyint] NOT NULL,
	[label] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_phone_number_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [site].[errors]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [site].[errors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[file] [nvarchar](max) NULL,
	[line] [int] NULL,
 CONSTRAINT [PK_errors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [site].[menu_item_roles]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [site].[menu_item_roles](
	[menu_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_menu_item_roles] PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [site].[menu_items]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [site].[menu_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[label] [nvarchar](50) NOT NULL,
	[title] [nvarchar](max) NULL,
	[path] [nvarchar](max) NOT NULL,
	[class_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_menu_items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [site].[user_statuses]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [site].[user_statuses](
	[code] [tinyint] NOT NULL,
	[label] [nchar](10) NOT NULL,
 CONSTRAINT [PK_user_statuses] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [org].[positions] ADD  CONSTRAINT [DF_positions_payrate_id]  DEFAULT ((0)) FOR [payrate_id]
GO
ALTER TABLE [org].[employee_phone_numbers]  WITH CHECK ADD  CONSTRAINT [FK_employee_phone_numbers_employees] FOREIGN KEY([employee_id])
REFERENCES [org].[employees] ([id])
GO
ALTER TABLE [org].[employee_phone_numbers] CHECK CONSTRAINT [FK_employee_phone_numbers_employees]
GO
ALTER TABLE [org].[employee_phone_numbers]  WITH CHECK ADD  CONSTRAINT [FK_employee_phone_numbers_phone_number_types] FOREIGN KEY([type_id])
REFERENCES [org].[phone_number_types] ([id])
GO
ALTER TABLE [org].[employee_phone_numbers] CHECK CONSTRAINT [FK_employee_phone_numbers_phone_number_types]
GO
ALTER TABLE [org].[employment_history_records]  WITH CHECK ADD  CONSTRAINT [FK_employment_history_records_employees] FOREIGN KEY([employee_id])
REFERENCES [org].[employees] ([id])
GO
ALTER TABLE [org].[employment_history_records] CHECK CONSTRAINT [FK_employment_history_records_employees]
GO
ALTER TABLE [org].[position_assignments]  WITH CHECK ADD  CONSTRAINT [FK_position_assignments_departments] FOREIGN KEY([department_id])
REFERENCES [org].[departments] ([id])
GO
ALTER TABLE [org].[position_assignments] CHECK CONSTRAINT [FK_position_assignments_departments]
GO
ALTER TABLE [org].[position_assignments]  WITH CHECK ADD  CONSTRAINT [FK_position_assignments_employees] FOREIGN KEY([employee_id])
REFERENCES [org].[employees] ([id])
GO
ALTER TABLE [org].[position_assignments] CHECK CONSTRAINT [FK_position_assignments_employees]
GO
ALTER TABLE [org].[position_assignments]  WITH CHECK ADD  CONSTRAINT [FK_position_assignments_employment_history_records] FOREIGN KEY([id])
REFERENCES [org].[employment_history_records] ([id])
GO
ALTER TABLE [org].[position_assignments] CHECK CONSTRAINT [FK_position_assignments_employment_history_records]
GO
ALTER TABLE [org].[position_assignments]  WITH CHECK ADD  CONSTRAINT [FK_position_assignments_locations] FOREIGN KEY([location_id])
REFERENCES [org].[locations] ([id])
GO
ALTER TABLE [org].[position_assignments] CHECK CONSTRAINT [FK_position_assignments_locations]
GO
ALTER TABLE [org].[position_assignments]  WITH CHECK ADD  CONSTRAINT [FK_position_assignments_position_pay_grades] FOREIGN KEY([pay_grade_id])
REFERENCES [org].[position_pay_grades] ([id])
GO
ALTER TABLE [org].[position_assignments] CHECK CONSTRAINT [FK_position_assignments_position_pay_grades]
GO
ALTER TABLE [org].[position_assignments]  WITH CHECK ADD  CONSTRAINT [FK_position_assignments_positions] FOREIGN KEY([position_id])
REFERENCES [org].[positions] ([id])
GO
ALTER TABLE [org].[position_assignments] CHECK CONSTRAINT [FK_position_assignments_positions]
GO
ALTER TABLE [org].[positions]  WITH CHECK ADD  CONSTRAINT [FK_positions_divisions] FOREIGN KEY([division_id])
REFERENCES [org].[divisions] ([id])
GO
ALTER TABLE [org].[positions] CHECK CONSTRAINT [FK_positions_divisions]
GO
ALTER TABLE [org].[positions]  WITH CHECK ADD  CONSTRAINT [FK_positions_pay_rates] FOREIGN KEY([payrate_id])
REFERENCES [org].[pay_rates] ([id])
GO
ALTER TABLE [org].[positions] CHECK CONSTRAINT [FK_positions_pay_rates]
GO
ALTER TABLE [site].[application_assignment_exceptions]  WITH CHECK ADD  CONSTRAINT [FK_application_assignment_exceptions_roles] FOREIGN KEY([role_id])
REFERENCES [site].[roles] ([id])
GO
ALTER TABLE [site].[application_assignment_exceptions] CHECK CONSTRAINT [FK_application_assignment_exceptions_roles]
GO
ALTER TABLE [site].[application_assignment_exceptions]  WITH CHECK ADD  CONSTRAINT [FK_application_assignment_exceptions_users] FOREIGN KEY([user_id])
REFERENCES [site].[users] ([id])
GO
ALTER TABLE [site].[application_assignment_exceptions] CHECK CONSTRAINT [FK_application_assignment_exceptions_users]
GO
ALTER TABLE [site].[application_assignments]  WITH CHECK ADD  CONSTRAINT [FK_user_application_assignments_roles] FOREIGN KEY([role_id])
REFERENCES [site].[roles] ([id])
GO
ALTER TABLE [site].[application_assignments] CHECK CONSTRAINT [FK_user_application_assignments_roles]
GO
ALTER TABLE [site].[menu_item_roles]  WITH CHECK ADD  CONSTRAINT [FK_menu_item_roles_menu_items] FOREIGN KEY([menu_id])
REFERENCES [site].[menu_items] ([id])
GO
ALTER TABLE [site].[menu_item_roles] CHECK CONSTRAINT [FK_menu_item_roles_menu_items]
GO
ALTER TABLE [site].[menu_item_roles]  WITH CHECK ADD  CONSTRAINT [FK_menu_item_roles_roles] FOREIGN KEY([role_id])
REFERENCES [site].[roles] ([id])
GO
ALTER TABLE [site].[menu_item_roles] CHECK CONSTRAINT [FK_menu_item_roles_roles]
GO
ALTER TABLE [site].[roles]  WITH CHECK ADD  CONSTRAINT [FK_roles_applications] FOREIGN KEY([application_id])
REFERENCES [site].[applications] ([id])
GO
ALTER TABLE [site].[roles] CHECK CONSTRAINT [FK_roles_applications]
GO
ALTER TABLE [site].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_user_statuses] FOREIGN KEY([status_code])
REFERENCES [site].[user_statuses] ([code])
GO
ALTER TABLE [site].[users] CHECK CONSTRAINT [FK_users_user_statuses]
GO
/****** Object:  StoredProcedure [site].[role_create]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sean Bourg <sean.bourg@gmail.com>
-- Create date: 2019-02-12
-- Description:	Create site rule and application.
-- =============================================
CREATE PROCEDURE [site].[role_create]
	-- Add the parameters for the stored procedure here
	@application NVARCHAR(50),
	@role NVARCHAR(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @_application_id INT;
	DECLARE @_role_id INT;

	-- Create application if not found
	SELECT @_application_id=Id FROM site.applications WHERE [name] = @application;
	IF ( @_application_id IS NULL)
	BEGIN
		INSERT INTO site.applications([name]) VALUES(@application);
		SET @_application_id=@@IDENTITY;
		PRINT 'create application'
	END

	-- Create role if not found
	SELECT @_role_id=Id FROM site.roles WHERE [name] = @role;
	IF ( @_role_id IS NULL )
	BEGIN
		INSERT INTO site.roles([application_id], [name]) VALUES(@_application_id,@role);
		SET @_role_id=@@IDENTITY;
	END

	SELECT application_id, application_name, role_id, role_name 
		FROM site.application_roles
		WHERE application_id=@_application_id
			AND role_id=@_role_id;

END
GO
/****** Object:  StoredProcedure [site].[user_roles_fetch]    Script Date: 2019-06-02 22:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Bourg, Sean P.
-- Create date: 2019-06-01
-- Description:	Fetch user roles.
-- =============================================
CREATE PROCEDURE [site].[user_roles_fetch]
	
	@user_id int,
	@application_name nvarchar(50) =NULL,
	@role_name nvarchar(50)=NULL

AS
BEGIN
declare @roles TABLE(
	application_id int not null,
	role_id int not null,
	application_name VARCHAR(50) not null, 
	role_name VARCHAR(50) not null
);

if ( @role_name is not null )
begin
	insert into @roles(application_id, role_id, application_name, role_name)
		select roles.application_id, role_id=roles.id, application_name=applications.name, role_name=roles.name
			from site.roles 
				inner join site.applications on applications.id=roles.application_id
			where roles.name=@role_name;
end
else if ( @application_name is not null )
begin
	insert into @roles(application_id, role_id, application_name, role_name)
		select roles.application_id, role_id=roles.id, application_name=applications.name, role_name=roles.name
			from site.roles
				inner join site.applications on applications.id=roles.application_id
			where applications.name=@application_name;
end
else
begin
	insert into @roles(application_id, role_id, application_name, role_name)
		select roles.application_id, role_id=roles.id, application_name=applications.name, role_name=roles.name
			from site.roles
				inner join site.applications on applications.id=roles.application_id;
end
	
select roles.application_id, roles.role_id, roles.application_name, roles.role_name
		, has_access=COALESCE(application_assignment_exceptions.has_access, position_assignments.has_access, 0)
	from @roles as roles
	left join (
			select role_id, user_id, has_access
				from site.application_assignment_exceptions
				where user_id=@user_id
		) as application_assignment_exceptions on roles.role_id=application_assignment_exceptions.role_id
	left join (
			select application_assignments.role_id, position_assignments.user_id, has_access=1
			from site.application_assignments	
	
			left join (
					select user_id=users.id, position_assignments.position_id, position_assignments.location_id, position_assignments.department_id, position_assignments.pay_grade_id
						from org.position_assignments
							inner join site.users on position_assignments.employee_id=users.employee_id
						where users.id=@user_id
			) as position_assignments 	
	
				on (application_assignments.position_id is null)
					or ( (position_assignments.position_id is not null) and (application_assignments.position_id=position_assignments.position_id) )
				and (application_assignments.location_id is null)
					or ( (position_assignments.location_id is not null) and (application_assignments.location_id=position_assignments.location_id) )
				and (application_assignments.department_id is null)
					or ( (position_assignments.department_id is not null) and (application_assignments.department_id=position_assignments.department_id) )
				and (application_assignments.pay_grade_id is null)
					or ( (position_assignments.pay_grade_id is not null) and (application_assignments.pay_grade_id=position_assignments.pay_grade_id) )

		) as position_assignments on roles.role_id=position_assignments.role_id

END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'org', @level1type=N'VIEW',@level1name=N'employee_details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'org', @level1type=N'VIEW',@level1name=N'employee_details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "applications (site)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "roles (site)"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'site', @level1type=N'VIEW',@level1name=N'application_roles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'site', @level1type=N'VIEW',@level1name=N'application_roles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "position_assignments"
            Begin Extent = 
               Top = 6
               Left = 513
               Bottom = 136
               Right = 699
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "employees (org)"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 475
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "users (site)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1365
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3315
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'site', @level1type=N'VIEW',@level1name=N'user_details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'site', @level1type=N'VIEW',@level1name=N'user_details'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[25] 4[36] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "user_roles"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "application_assignment_exceptions (site)"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 119
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "position_assignments"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 119
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'site', @level1type=N'VIEW',@level1name=N'user_role_assignments'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'site', @level1type=N'VIEW',@level1name=N'user_role_assignments'
GO
USE [master]
GO
