@charset "ISO-8859-1";

html{
	font-family: "Roboto Slab";
	font-size: 0.75rem;
	background: #e2e1e0;
}
html , html *, html a{
	color: #455454;
}

h1, h2, h3, h4 {
	font-family: Roboto;
	font-size: 1.5rem;
}

#page-menubar {
	line-height: 4em;
	height: 4em;
	flex-shrink: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	vertical-align: middle;
	background: #fcffff;	
}

#page-application, #page-menu, #page-application-icon,
	#page-application-title, #page-menu {
	display: inline-block;
}

#page-menubar #page-application .menu-button{
	display: block;
}

#page-application, #page-menu {
	flex: 1 1 .0625rem;
	margin: 0 1ex;
}

#page-menu {
	text-align: right;	
}

#page-application {
	
}

.menu-button {
	
}

#page-application-title {
	
}

#page-application-title a {
	text-decoration:none;
	font-weight: 800;
	display: inline-block;
	
}
#page-application-title a span {	
	display: inline-block;
}

#page-menu {
	
}

#page-site-link {
	
}

#page-user-link {
	
}

#page-menubar .menu-button {
	display: inline-block;
	height: 3em;
	width: 3em;
	vertical-align: middle;
	line-height: 3em;
	text-align: center;
	border-radius: 4px;
}
#page-menubar .menu-button:hover{
	color: #fcffff;
	background: rgba(147, 73, 72, 1);	
}
#page-menubar .menu-button:before::hover{
	color:inherit;
}

#page-menubar .menu-button:before {
	display: inline-block;
	height: 3em;
	width: 3em;
	color:inherit;
}

#page-menubar .menu-button>.menu-button-label {
	display: none;
}

#page-user-menu {
	display: none;
}

#page-user-menu.__visible {
	display: block;
}

#page-user-info-position {
	
}

#page-user-info-position>p {
	
}

#page-user-info-email {
	
}

#page-user-logout {
	
}

#page-user-logout>button {
	
}

#page-user-logout>button>span {
	
}

#page-content {
	margin: 4em 6em;
}



/* application menu */
#application-menu{
	display: none;
	position:absolute;
	top: 0;
	left: 0;
	width: 40em;
	display: block;
	height: 100vh;
	overflow:hidden;
}
.__application-menu-show {
	height: 100vh;
	overflow:hidden;
}
/* .__application-menu-show */
#application-menu{
	display: block;
	background: #fcffff;
	padding: 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);	
}